// 引入其他sass文件
@import 'var';

@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1499503529449'); /* IE9*/
  src: url('../font/iconfont.eot?t=1499503529449#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1499503529449') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1499503529449') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1499503529449#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  // font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e697"; }

.icon-cart:before { content: "\e698"; }

.icon-close:before { content: "\e69a"; }

.icon-comments:before { content: "\e69b"; }

.icon-delete:before { content: "\e69d"; }

.icon-edit:before { content: "\e69e"; }

.icon-email:before { content: "\e69f"; }

.icon-form:before { content: "\e6a2"; }

.icon-help:before { content: "\e6a3"; }

.icon-less:before { content: "\e6a5"; }

.icon-moreunfold:before { content: "\e6a6"; }

.icon-more:before { content: "\e6a7"; }

.icon-search:before { content: "\e6ac"; }

.icon-selected:before { content: "\e6ad"; }

.icon-success:before { content: "\e6b1"; }

.icon-account:before { content: "\e6b8"; }

.icon-add:before { content: "\e6b9"; }

.icon-atm:before { content: "\e6ba"; }

.icon-attachment:before { content: "\e6c0"; }

.icon-gifts:before { content: "\e6db"; }

.icon-lights:before { content: "\e6de"; }

.icon-map:before { content: "\e715"; }

.icon-phone:before { content: "\e725"; }

.icon-bussinessman:before { content: "\e726"; }

.icon-shoes:before { content: "\e728"; }

.icon-mobilephone:before { content: "\e72a"; }

.icon-favoritesfilling:before { content: "\e730"; }

.icon-accountfilling:before { content: "\e732"; }

.icon-creditlevel:before { content: "\e735"; }

.icon-creditlevelfilling:before { content: "\e736"; }

.icon-ship:before { content: "\e74f"; }

.icon-bussinesscard:before { content: "\e753"; }

.icon-favorites:before { content: "\e7ce"; }

.icon-originalimage:before { content: "\e806"; }

.icon-video:before { content: "\e820"; }

.icon-apparel:before { content: "\e839"; }

.icon-bags:before { content: "\e83a"; }

.icon-code:before { content: "\e842"; }


/*
	* 单行注释
	* 多行注释
	
	* sass的变量：
		* 一般使用在属性值中
		* 在属性名中使用变量：# {$borderDirection}
 */


// // 全局变量
// $color:#ddd;

// // 多值变量（了解）
// // list类型：（js中的数组）
// $pd: 5px 10px 20px 30px;

// // list类型：（js中的对象）
*{
	margin:0;
	padding:0;
}
ul li{
	list-style:none;
	padding: 0 5px;
}
a{
	text-decoration:none;
}

body{
    font-size: 12px

}
.box0{
	width:100%;
	// width:1200px;
    overflow: hidden;
	
}
.top0{
	width:100%;
	height:25px;
	background-color:#f1f1f1;
	line-height:25px;
}

.juzhong{
	margin:0 auto;
	width: 1200px;
	// max-width: 100%;
	min-width:1038px;
	// background-color:#f1f1f1;
}

.tl li{
	float:left;
	padding: 0 5px;
	
}
.topr{
	float:right;

}

.userpanel{
	position: relative;
  top: -8px;
  padding: 0 5px;

}

// .userpanel2{
// 	position:relative;
// 	top:0;
// }
.tr{
	display:inline-block;

}

.tr li{

	float:left;
	padding: 0 5px;
}


.top1{
	clear:both;
	width:100%;
	height: 86px;
}

.top1-1{
	position: relative;
	left: 4px;
    top: 11px;
    display:inline-block;
}

.searchbar{
	display:inline-block;
	    position: relative;
	    top: 0px;
	    left: 50px;
	 
	.searchinput{
		width: 337px;
		height: 30px;
		line-height: 30px;
		border: 2px solid #f60;
		display:inline-block;
		 float: left;
		input{
			width: 330px;
			border: 0;
    		background: none;
    		outline:none;
    		text-indent: 6px;
		}
	}
	
	.btn_search{
	display: inline-block;
	width: 98px;
    height: 34px;
    background: #f60;
    color: #fff;
    text-indent: 0;
    font: bolder 14px/34px simsun;
    text-align: center;
    float: left;
    border-radius: 0 3px 3px 0;
	}
  
}

.searchbar .hot{
	margin-top: 4px;
    overflow: hidden;
    clear: both;
    line-height: 29px
}

.hot a{
    line-height: 29px
}

.top1-2{
	display: inline-block;
	float:right;
	   position: relative;
	    top: 0;
	    left: 0;
}

.top2{
	clear:both;
	width: 100%;
	height:40px;
	background-color:#10286C;
}

.meun{
	display:inline-block;
}

.al1{
	width:179px;
	height: 40px;
    background: url(../img/sprite_v140425.png) no-repeat 120px -1252px #F60;
    text-indent: 20px;
    line-height: 40px;
    a{
    height: 40px;
    overflow: hidden;
    display: block;
    color: #FFF;
    font: 14px/42px microsoft yahei;
    }
}

.nav{
	width: 630px;
	height: 40px;
	display:inline-block;
	position: relative;
    left: 0px;
    top: 0px;
 //    z-index: 11;
    // float: left;
    li{
    float: left;
    height: 40px;
    line-height: 40px;
    // -webkit-transition: all .5s;
    // -o-transition: all .5s;
    // -moz-transition: all .5s;
    transition: all .5s;
    a{
    padding: 0 10px;
    display: block;
    color: #fff;
    background-position: left 100px;
    font: 14px/40px microsoft yahei
    // padding: 0 14px;
    }
    }
}

.utility{
	width:230px;
	height:40px;
	 position: relative;
	    top: 0;
	    left: 0;
	float:right;
	.ut1{
		float:left;
		display:inline-block;
		.gu {
			width: 112px;
			height: 40px;
			background:#F60;
			a{
		color: #fff;
    	background-position: left 100px;
    	font: 14px/40px microsoft yahei;
    		span{
			width: 17px;
    		height: 11px;
    		position: absolute;
    		right: 130px;
    		top: 18px;
   			 background: url(../img/bsj.png) no-repeat;
			}
			}
		}
	}
	.ut2{
		display:inline-block;
		.sc{
			width: 112px;
			height: 40px;
			background:#F60;
			display:inline-block;
			a{
			color: #fff;
    		background-position: left 100px;
    		font: 14px/40px microsoft yahei;
			span{
			width: 17px;
    		height: 11px;
    		position: absolute;
    		right: 30px;
    		top: 18px;
   			 background: url(../img/bsj.png) no-repeat;
			}
			}
		}
	}
}


.top3{
	clear:both;
	width: 100%;
}

.mnav{
	display:inline-block;
	width:175px;
	height:469px;
	border: 2px solid #f60;
    border-top: none;
    float:left;
	.mnav1{
		width:175px;
		height:70px;
		border-bottom: 1px solid #ccc;
		h4{
	 height: 22px;
   	 margin-bottom: 2px;
    display: block;
    -webkit-padding-before: 1.33em;
    font-weight: bold;
		}
		.mnav1-1{
			display:none;
		}
	}
	.mnav2{
		width:175px;
		height:70px;
		border-bottom: 1px solid #ccc;
		h4{
	 height: 22px;
   	 margin-bottom: 2px;
    display: block;
    -webkit-padding-before: 1.33em;
    font-weight: bold;
		}
		.mnav2-1{
			display:none;
		}
	}
	.mnav3{
		width:175px;
		height:70px;
		border-bottom: 1px solid #ccc;
		h4{
	 height: 22px;
   	 margin-bottom: 2px;
    display: block;
    -webkit-padding-before: 1.33em;
    font-weight: bold;
		}
		.mnav3-1{
			display:none;
		}
	}
	.mnav4{
		width:175px;
		height:70px;
		border-bottom: 1px solid #ccc;
		h4{
	 height: 22px;
   	 margin-bottom: 2px;
    display: block;
    -webkit-padding-before: 1.33em;
    font-weight: bold;
		}
		.mnav4-1{
			display:none;
		}
	}
	.mnav5{
	width:175px;
	height:60px;
	.mnav5-1{
	width:150px;
	height:31px;
	}
	h4{
	 height: 22px;
   	 margin-bottom: 2px;
    display: block;
    -webkit-padding-before: 1.33em;
    font-weight: bold;
		}
		.mnav5-1-1{
			display:none;
		}
	}
		.mnav6{
	width:150px;
	height:31px;
	.mnav6-1{
			display:none;
		}
	}
		.mnav7{
	width:150px;
	height:31px;
	.mnav7-1{
			display:none;
		}
	}
		.mnav8{
	width:150px;
	height:31px;
	.mnav8-1{
			display:none;
		}
	}
		.mnav9{
	width:150px;
	height:31px;
	.mnav9-1{
			display:none;
		}
	}
}


.lbt{
	width:100%;
	height:255px;
}


#lbt2{
	position: relative;
	top:5px;
	left:0;
	float:right;
	
}

.Carousel{
	position:relative;
	margin:0 auto;
	width:100%;
	height:245px;
	overflow:hidden;
}
.Carousel ul{
	position:relative;
	left:0;top:0;
}
.Carousel li{
	overflow:hidden;
}
.Carousel .horizontal{
	overflow:hidden;
}
.Carousel .horizontal li{
	margin:0;
	padding:0;
	float:left;
}
.Carousel li img{
	display:block;
	height:245px;
}
.page{
	position:relative;
	left:0;
	top:-236px;
}

.Carousel .page span{
	cursor: pointer;
	display:inline-block;
	margin:0 5px;
	width:10px;height:10px;
	line-height:30px;
	text-align:center;
	background-color:#efefef;
	border-radius:50%;
}
.Carousel .page span.active{
	background-color:#f60;
	color:#fff;}

// ----------------------------
// 
#lbt1{
	position: relative;
	top:5px;
	left:10px;
	display:inline-block;
	float:left;
	
}

.Carousel2{
	position:relative;
	margin:0 auto;
	width:100%;
	height:100%;
	overflow:hidden;
}
.Carousel2 ul{
	position:relative;
	left:0;top:0;
}
.Carousel2 li{
	overflow:hidden;
}
.Carousel2 .horizontal{
	overflow:hidden;
}
.Carousel2 .horizontal li{
	margin:0;
	padding:0;
	float:left;
}
.Carousel2 li img{
	display:block;
	width:100%;
}
#lbt1 .page{
	position:absolute;
	left:470px;
	top:210px;
}

.Carousel2 .page span{
	cursor: pointer;
	display:inline-block;
	margin:0 5px;
	width:26px;height:26px;
	line-height:30px;
	text-align:center;
	background-color:#ccc;
	border-radius:50%;
}
.Carousel2 .page span.active{
	background-color:#f60;
	color:#fff;}

.xtime{
	position: relative;
	top:0;
	float:left;
	width:771px;
	height:24px;
	
	margin-left:10px;
	margin-bottom:10px;
	h2{
		color:red;
	}
	#djs{
		display:inline-block;
	}

	a{
	position: absolute;
	top:0px;
	left:690px;
	 font-size: 12px;
	 font-weight: bold;
		
	}
}
// -------------------------
.xdt{
	// margin-top:10px;
	position: relative;
	top:10px;
	left:0px;
	float:right;
}
// _________________
#lbt3{
	position: relative;
	top:0;
	// left:100px;
	// float:right;
	margin-left:10px;
	// position:  absolute;
	// clear:both;
	float:left;
}

.Carousel3{
	position:relative;
	margin:0 auto;
	// width:744px;
	// height:169px;
	overflow:hidden;
}
.Carousel3 ul{
	position:relative;
	left:0;top:0;
}

.Carousel3 .horizontal{
	width:100%;
    position: relative;
	overflow:hidden;
}
.Carousel3 .horizontal li{
	// margin-top:5px;
	padding:0 21px;
	// padding-top:5px;
	float:left;
	width:144px;

	
	a{
		display: block;
		color:#000;
		width:144px;
		height: 50px;
		font-size: 12px;
    	line-height: 1.5;
    	overflow: hidden;
	}
	p{
		padding: 5px 0;
	}
	.price{
	color: #f60;
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
	}
	.mr10{
	padding-right:15px;
	}
}
.Carousel3 li img{
	display:block;
	height:108px;
	width:144px;

}
.page{
	position:relative;
	left:0;
	top:-236px;
}

.Carousel3 .page span{
	cursor: pointer;
	display:inline-block;
	margin:0 5px;
	width:10px;height:10px;
	line-height:30px;
	text-align:center;
	background-color:#efefef;
	border-radius:50%;
}
.Carousel3 .page span.active{
	background-color:#f60;
	color:#fff;}

.Carousel3 .prev{
	position: absolute;
	width:30px;
	height:50px;
	line-height:50px;
	// background-color:#f60;
	background: url(../img/sjleft.png) no-repeat;
	// color:#fff;
	text-align:center;
}

.Carousel3 .next{
	position: absolute;
	width:30px;
	height:50px;
	line-height:50px;
	// background-color:#f60;
	background: url(../img/sjright.png) no-repeat;
	// color:#fff;
	text-align:center;
}


.Carousel3 .prev{
	cursor: pointer;
	left:0;
	top:0;
	bottom:0;
	margin:auto 0;
}
.Carousel3 .next{
	cursor: pointer;
	right:-15px;
	top:50%;
	margin-top:-25px;
}


// _________________
// 
// 
.top4{
	clear:both;
}
.t4-1{
	clear:both;
	width:960px;
	height:48px;
	line-height:48px;
	border-bottom:2px solid #f60;

	h2{
		display: inline-block;
		color:#f60;
	}
	p{
		display: inline-block;
		float:right;
	}
}

// --------------------------------------

#lbt4{
	position: relative;
	top:0;
	// left:100px;
	// float:right;
	// position:  absolute;
	// clear:both;
	border:1px solid #ccc;
	float:left;
	width:960px;
}

.Carousel4{
	position:relative;
	margin:0 auto;
	// width:744px;
	// height:169px;
	overflow:hidden;
}
.Carousel4 ul{
	position:relative;
	top:15px;
}

.Carousel4 .horizontal{
	width:100%;
    position: relative;
	overflow:hidden;
	
}
.Carousel4 .horizontal li{
	// margin-top:5px;
	padding-left: 30px;
	padding-right: 25px;
	padding-top:5px;
	float:left;
	// height:135px;
	width:180px;
	
	
	a{
		display: block;
		color:#000;
		width:180px;
		height: 36px;
		font-size: 12px;
    	line-height: 1.5;
    	overflow: hidden;
	}
	p{
		padding: 5px 0;
	}
	.price1{
	color: #f60;
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
	}
	.mr10{
	padding-right:15px;
	}
}
.Carousel4 li img{
	display:block;
	// height:135px;
	// width:180px;

}



.next1{
	cursor:pointer;
	position: relative;
	top:-5px;
	left:100px;
	width:70px;
	// height:50px;
	margin-top:-25px;
	// line-height:50px;
	// background-color:#f60;
	background: url(../img/c.png) no-repeat;
	// color:#fff;
	text-align:center;
}

body .Carousel4 .horizontal .c4{
	position:relative;
	top:-211px;
	left: 145px;
	width: 52px;
	height: 52px;
	padding-right:152px;
	img{
		width: 52px;
		height: 52px;
	}
}
.Carousel4 .horizontal .c5{
	position:relative;
	top:-90px;
	left: 90px;
	width: 46px;
	height: 25px;
	padding-right:162px;
	display:block;
	a{
	width: 46px;
	height: 25px;
	font: normal 12px simsun;
    color: #fff;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    line-height: 25px;
    background-color: #f7661f;
    border: 1px solid #f7661f;
	}
}

.horizontal li:nth-child(58),.horizontal li:nth-child(60),.horizontal li:nth-child(61){
	opacity:0;
}

.txt0{
	margin-top:-30px;
	margin-left:5px;
	// position:relative;
	// top:-30px;
	// left: -32px;
	float:right;
	width:230px;
	height:122px;
	border:1px solid #ccc;
	.t1{
		padding: 10px;
		border-bottom: 1px  dashed #ccc;
	h3{
		display: inline-block;
	}
	.a1{
		float:right;
	}
	}
	.t2{
		padding: 10px;
		p span{
			display: inline-block;
			width:22px;
			height:11px;
			background:url(../img/new.png);
		}
	}
}


#lbt5{
	margin-top:30px;
	margin-left:5px;
	float:left;
}

.top5{
	clear:both;
.t5-1{
	clear:both;
	width:1200px;
	height:48px;
	line-height:48px;
	border-bottom:2px solid #f60;

	h2{
		display: inline-block;
		color:#f60;
	}
	p{
		display: inline-block;
		float:right;
	}
}
}


#sfq {
		width: 100%;
		height: 260px;
		// margin: 20px 0;
		border:1px solid #ccc;
				/*overflow: hidden;*/
		}
		#sfq ul li {
		width: 175px;
		height: 260px;
		border-left: 1px solid #ccc;
		float:left;
		position: relative;
		overflow: hidden;
			.p1{
				 // z-index:100;
				// display: block;
				float:left;
				width:250px;
				height: 185px;
				// margin-top: 45px;
				// margin-left: 30px;
				position: relative;
				top:35px;
				left: 10px;

				img{
					width:250px;
				height: 185px;;
				}
			}
		}
		#sfq ul li div {
			position: relative;
				top:35px;
				left: 0;
			// margin-left:330px;
			width: 338px;
    		float:right;

		}
		#sfq ul li div.des {
			// position: absolute;
			// left: 0;
			// top: 0;
			// background:#fff;
		}

#sfq li:nth-child(1){
	width:664px;
	border-left:0;
}
#sfq li:nth-child(2){
	width:164px;
}
#sfq li:nth-child(3){
	width:164px;
}
#sfq li:nth-child(4){
	width:164px;
}

#tab1{
	position: relative;
	top:20px;
	left:0px;
	display:inline-block;
	float:left;
	width:268px;
	border:1px solid #ccc;
	
}

.top6{
	clear:both;
	width:100%;
	height:295px;
}

.Carouseltab{
	position:relative;
	margin:0 auto;
	width:100%;
	height:268px;
	overflow:hidden;
}
.Carouseltab ul{
	position:relative;
	width: 962px;
	height: 268px;
	overflow:hidden;
	left:0;top:0px;
	
	.t1{
		padding:0 15px;
	}
	.t2{
		padding:0 15px;
	}
	.t3{
		padding:0 15px;
	}
	.t4{
		padding:0 15px;
	}
}
.Carouseltab li{
	overflow:hidden;
}

.Carouseltab li img{
	display:block;
	width:144px;
}
#tab1 .page{
	position:absolute;
	left:0px;
	top:0;
	width:952px;
	height:29px;
}

.Carouseltab .page span{
	cursor: pointer;
	display:inline-block;
	// margin:0 5px;
	width:237.1px;height:29px;
	line-height:30px;
	text-align:center;
	background-color:#f6f6f6;
	border-right:1px solid #ccc;
	// border-top::1px solid #ccc;
	border-bottom:1px solid #ccc;

}

// .Carouseltab .page span:nth-child(1){
// 	// border-left:1px solid #ccc;
// }
.Carouseltab .page span:nth-child(4){
	border-right:0;
}

.Carouseltab .page span.active{
	background-color:#fff;
	color:#f60;
	border-bottom:0;
}



.Carouseltab .tb2{
	width: 960px;
	height:52px;
	position:absolute;
	top:0;
	border:0;
	.tub1{
		width:52px;
		height: 52px;
		position:relative;
		left: 115px;
		padding-right:118px;
		float:left;
		img{
		width:52px;
		height: 52px;
		}
	}
}

.Carouseltab .tb3{
	width: 950px;
	height:52px;
	position:absolute;
	top:0;
	border:0;
	.tub2{
		width:52px;
		height: 52px;
		position:relative;
		left: 115px;
		padding-right:118px;
		float:left;
		img{
		width:52px;
		height: 52px;
		}
	}
}

.Carouseltab .tb4{
	width: 950px;
	height:52px;
	position:absolute;
	top:0;
	border:0;
	.tub3{
		width:52px;
		height: 52px;
		position:relative;
		left: 115px;
		padding-right:118px;
		float:left;
		img{
		width:52px;
		height: 52px;
		}
	}
}




.Carouseltab .tab{
	float:left;
	position:relative;
	left:20px;
	top:50px;
	.t1{
		float:left;
	}
	.tb01 .text1{
		width:144px;
		height: 50px;
		padding: 0 16px;
		float:left;

	}
	.jg01{
		// clear: both;
		width: 950px;
		height: 20px;
		position:relative;
		left:5px;
		top:-190px;
		.jg1{
			float:left;

			padding-right: 115px;
			span{
			color: #f60;
    		font-family: arial;
    		font-weight: bold;
    		font-size: 14px;
			}
		}

	}
	.t2{
		float:left;
	}
	.tb02 .text2{
		width:144px;
		height: 50px;
		padding: 0 16px;
		float:left;

	}
	.jg02{
		// clear: both;
		width: 950px;
		height: 20px;
		position:relative;
		left:5px;
		top:-190px;
		.jg2{
			float:left;
			padding-right: 115px;
			span{
			color: #f60;
    		font-family: arial;
    		font-weight: bold;
    		font-size: 14px;
			}
		}

	}
	.t3{
		float:left;
	}
	.tb03 .text3{
		width:144px;
		height: 50px;
		padding: 0 16px;
		float:left;
			
	}
	.jg03{
		// clear: both;
		width: 950px;
		height: 20px;
		position:relative;
		left:5px;
		top:-190px;
		.jg3{
			float:left;
			padding-right: 115px;
			span{
			color: #f60;
    		font-family: arial;
    		font-weight: bold;
    		font-size: 14px;
			}
		}

	}
	.t4{
		float:left;
	}
	.tb04 .text4{
		width:144px;
		height: 50px;
		padding: 0 16px;
		float:left;	
	}
	.jg04{
		// clear: both;
		width: 950px;
		height: 20px;
		position:relative;
		left:5px;
		top:-190px;
		.jg4{
			float:left;
			padding-right: 115px;
			span{
			color: #f60;
    		font-family: arial;
    		font-weight: bold;
    		font-size: 14px;
			}
		}

	}
}

.tu{
	position: relative;
	top:20px;
	left:0px;
	float:left;

}

.top7{
	clear:both;
}
.t7-1{
	display:block;
	width: 960px;
	height:42px;
	h2{
	height: 38px;
    padding-left: 10px;
    color: #2565bd;
    font-size: 20px;
    border-right: none;
    line-height: 36px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 3px solid #2565bd;
    font-family: "microsoft yahei";
	}
}

.t7{
	display:inline-block;

	width:960px;
	height: 505px;
	border:1px solid #ccc;
}
.t7-2{
	width:960px;
	height: 420px;
	border-bottom:1px solid #ccc;
}

.tlis{
	text-align:center;
	float:left;
	width:217px;
	height: 205px;
	padding-top:25px;
	padding-left:15px;
	span{
		color: #f60;
   		font-family: arial;
    	font-weight: bold;
    	margin-left: 20px;
	}
	.t7p1{
		padding-left:15px;
		width:191px;
		height:108px;
	.tlsp{

	position: relative;
	top:-111px;
	left:70px;
	}
	}
	.t7p2{
		padding-left:15px;
		width:191px;
		height: 36px;
		overflow: hidden;
	}
}

#t7lbt{
	img{
		width: 480px;
		height: 208px;
	}

.Carousel2{
	position:relative;
	margin:0 auto;
	width:100%;
	height:100%;
	overflow:hidden;
}
.Carousel2 ul{
	position:relative;
	left:0;top:0;
}
.Carousel2 li{
	overflow:hidden;
}
.Carousel2 .horizontal{
	overflow:hidden;
}
.Carousel2 .horizontal li{
	margin:0;
	padding:0;
	float:left;
}
.Carousel2 li img{
	display:block;
	width:100%;
}
.page{
	position:absolute;
	left:360px;
	top:195px;
}

.Carousel2 .page span{
	cursor: pointer;
	display:inline-block;
	margin:0 5px;
	width:26px;height:26px;
	line-height:30px;
	text-align:center;
	background-color:#ccc;
	border-radius:50%;
}
.Carousel2 .page span.active{
	background-color:#f60;
	color:#fff;}
}

#t7d{
	width:969px;
	height:53px;
ul{
	position:relative;
	left:10px;
	top:-10px;
li{
	padding:0;
	width: 119px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    float:left;
    a {
    display: block;
    position:relative;
	left:0px;
	top:0px;
    }
	}
	}
}

#t8d,#t9d,#t10d,#t11d{
	display:none;
}

.dtab{
	clear:both;
	// display:inline-block;
	float:right;
	width:230px;
	height:2360px;
	border:1px solid #ccc;
	position: relative;
	top:-42px;
	left:0px;
}


.dtab1{
	position: relative;
	top:0px;
	left:0px;
	display:inline-block;
	float:left;
	width:230px;
	height:100%;
	border:1px solid #ccc;
	h3{
		height: 29px;
		line-height: 29px;
	}
}

#tabd1{
	position: relative;
	top:0px;
	left:0px;
	display:inline-block;
	// float:left;
	width:230px;
	// height:100%;
	border:1px solid #ccc;
	
}

#tabd1.Carouseltab2{
	position:relative;
	margin:0 auto;
	width:100%;
	// height:100%;
	// overflow:hidden;
}
#tabd1.Carouseltab2 ul{
	position:relative;
	width:230px;
	height:100%;
	overflow:hidden;
	left:0;top:0px;
	li{
		padding-top: 15px	
	}
	.li2{
		display: none;
	}
	.li3{
		display: none;
	}

	.t1{
		
		height: 80px;
		border-bottom: 1px solid #ccc;
	}
	.t2{
		
		height: 80px;
		border-bottom: 1px solid #ccc;
	}
	.t3{
		
		height: 80px;
		border-bottom: 1px solid #ccc;
	}
	.t4{
		
		height: 80px;
		border-bottom: 1px solid #ccc;
	}
}
#tabd1.Carouseltab2 .tab{
	overflow:hidden;
	position:relative;
	left:0px;
	top:0;

}



#tabd1.Carouseltab2 li img{
	display:block;
	width:80px;
	height:60px;
}
#tabd1 .page{
	position:absolute;
	left:50px;
	top:-30px;
	width:952px;
	height:32px;
}

#tabd1.Carouseltab2 .page span{
	cursor: pointer;
	display:inline-block;
	// margin:0 5px;
	width:58px;height:30px;
	line-height:30px;
	text-align:center;
	background-color:#ccc;
	border-right:1px solid #ccc;
	// border-top::1px solid #ccc;
	// border-bottom:1px solid #ccc;

}


#tabd1.Carouseltab2 .page span:nth-child(4){
	border-right:0;
}

#tabd1.Carouseltab2 .page span.active{
	background-color:#fff;
	color:#f60;
	border-left:1px solid #ccc;
	border-bottom:2px solid #fff;
}



#tabd1.Carouseltab2 .tb01{
	position:absolute;
	top:0;
	left:100px;
	border:0;
	li{
		width:116px;
		height: 35px;
		overflow: hidden;
		margin-bottom:52px;
		a{
		width:116px;
		height: 36px;
		overflow: hidden;
		}
	}

}

#tabd1.Carouseltab2 .tb02{
	position:absolute;
	top:0;
	left:100px;
	border:0;
	li{
		width:116px;
		height: 35px;
		overflow: hidden;
		margin-bottom:52px;
		a{
		width:116px;
		height: 36px;
		overflow: hidden;
		}
	}

}

#tabd1.Carouseltab2 .tb03{
	position:absolute;
	top:0;
	left:100px;
	border:0;
	li{
		width:116px;
		height: 35px;
		overflow: hidden;
		margin-bottom:52px;
		a{
		width:116px;
		height: 36px;
		overflow: hidden;
		}
	}

}


#tabd1.Carouseltab2 .jg01{
	position:absolute;
	top:40px;
	left:100px;
	border:0;
	li{
		width:116px;
		height: 35px;
		overflow: hidden;
		margin-bottom:52px;
		span{
		color: #f60;
   		font-family: arial;
    	font-weight: bold;
		a{
		width:116px;
		height: 36px;
		overflow: hidden;
		}
	}
	}

}

#tabd1.Carouseltab2 .jg02{
	position:absolute;
	top:40px;
	left:100px;
	border:0;
	li{
		width:116px;
		height: 35px;
		overflow: hidden;
		margin-bottom:52px;
		span{
		color: #f60;
   		font-family: arial;
    	font-weight: bold;
		a{
		width:116px;
		height: 36px;
		overflow: hidden;
		}
	}
	}

}

#tabd1.Carouseltab2 .jg03{
	position:absolute;
	top:40px;
	left:100px;
	border:0;
	li{
		width:116px;
		height: 35px;
		overflow: hidden;
		margin-bottom:52px;
	span{
		color: #f60;
   		font-family: arial;
    	font-weight: bold;
		a{
		width:116px;
		height: 36px;
		overflow: hidden;
		}
		}
	}

}

.tabtu1{
	margin-top:20px;
}

// --------------------------
// 

.tabh2,.tabh3,.tabh4,.tabh5{
	margin-top: 15px;
}

#tabd2,#tabd3,#tabd4,#tabd5{
	position: relative;
	top:0px;
	left:0px;
	display:inline-block;
	// float:left;
	width:230px;
	// height:100%;
	border:1px solid #ccc;
	
}

#tabd2.Carouseltab2,#tabd3.Carouseltab2,#tabd4.Carouseltab2,#tabd5.Carouseltab2{
	position:relative;
	margin:0 auto;
	width:100%;
	// height:100%;
	// overflow:hidden;
}
#tabd2.Carouseltab2 ul,#tabd3.Carouseltab2 ul,#tabd4.Carouseltab2 ul,#tabd5.Carouseltab2 ul{
	position:relative;
	width:230px;
	height:100%;
	overflow:hidden;
	left:0;top:0px;
	li{
		padding-top: 15px	
	}
	.li2{
		display: none;
	}
	.li3{
		display: none;
	}

	.t1{
		
		height: 80px;
		border-bottom: 1px solid #ccc;
	}
	.t2{
		
		height: 80px;
		border-bottom: 1px solid #ccc;
	}
	.t3{
		
		height: 80px;
		border-bottom: 1px solid #ccc;
	}
	.t4{
		
		height: 80px;
		border-bottom: 1px solid #ccc;
	}
}
#tabd2.Carouseltab2 .tab,#tabd3.Carouseltab2 .tab,#tabd4.Carouseltab2 .tab,#tabd5.Carouseltab2 .tab{
	overflow:hidden;
	position:relative;
	left:0px;
	top:0;

}



#tabd2.Carouseltab2 li img,#tabd3.Carouseltab2 li img,#tabd4.Carouseltab2 li img,#tabd5.Carouseltab2 li img{
	display:block;
	width:80px;
	height:60px;
}
#tabd2 .page,#tabd3 .page,#tabd4 .page,#tabd5 .page{
	position:absolute;
	left:50px;
	top:-30px;
	width:952px;
	height:32px;
}

#tabd2.Carouseltab2 .page span,#tabd3.Carouseltab2 .page span,#tabd4.Carouseltab2 .page span,#tabd5.Carouseltab2 .page span{
	cursor: pointer;
	display:inline-block;
	// margin:0 5px;
	width:58px;height:30px;
	line-height:30px;
	text-align:center;
	background-color:#ccc;
	border-right:1px solid #ccc;
	// border-top::1px solid #ccc;
	// border-bottom:1px solid #ccc;

}


#tabd2.Carouseltab2 .page span:nth-child(4),#tabd3.Carouseltab2 .page span:nth-child(4),#tabd4.Carouseltab2 .page span:nth-child(4),#tabd5.Carouseltab2 .page span:nth-child(4){
	border-right:0;
}

#tabd2.Carouseltab2 .page span.active,#tabd3.Carouseltab2 .page span.active,#tabd4.Carouseltab2 .page span.active,#tabd5.Carouseltab2 .page span.active{
	background-color:#fff;
	color:#f60;
	border-left:1px solid #ccc;
	border-bottom:2px solid #fff;
}



#tabd2.Carouseltab2 .tb01,#tabd3.Carouseltab2 .tb01,#tabd4.Carouseltab2 .tb01,#tabd5.Carouseltab2 .tb01{
	position:absolute;
	top:0;
	left:100px;
	border:0;
	li{
		width:116px;
		height: 35px;
		overflow: hidden;
		margin-bottom:52px;
		a{
		width:116px;
		height: 36px;
		overflow: hidden;
		}
	}

}

#tabd2.Carouseltab2 .tb02,#tabd3.Carouseltab2 .tb02,#tabd4.Carouseltab2 .tb02,#tabd5.Carouseltab2 .tb02{
	position:absolute;
	top:0;
	left:100px;
	border:0;
	li{
		width:116px;
		height: 35px;
		overflow: hidden;
		margin-bottom:52px;
		a{
		width:116px;
		height: 36px;
		overflow: hidden;
		}
	}

}

#tabd2.Carouseltab2 .tb03,#tabd3.Carouseltab2 .tb03,#tabd4.Carouseltab2 .tb03,#tabd5.Carouseltab2 .tb03{
	position:absolute;
	top:0;
	left:100px;
	border:0;
	li{
		width:116px;
		height: 35px;
		overflow: hidden;
		margin-bottom:52px;
		a{
		width:116px;
		height: 36px;
		overflow: hidden;
		}
	}

}


#tabd2.Carouseltab2 .jg01,#tabd3.Carouseltab2 .jg01,#tabd4.Carouseltab2 .jg01,#tabd5.Carouseltab2 .jg01{
	position:absolute;
	top:40px;
	left:100px;
	border:0;
	li{
		width:116px;
		height: 35px;
		overflow: hidden;
		margin-bottom:52px;
		span{
		color: #f60;
   		font-family: arial;
    	font-weight: bold;
		a{
		width:116px;
		height: 36px;
		overflow: hidden;
		}
	}
	}

}

#tabd2.Carouseltab2 .jg02,#tabd3.Carouseltab2 .jg02,#tabd4.Carouseltab2 .jg02,#tabd5.Carouseltab2 .jg02{
	position:absolute;
	top:40px;
	left:100px;
	border:0;
	li{
		width:116px;
		height: 35px;
		overflow: hidden;
		margin-bottom:52px;
		span{
		color: #f60;
   		font-family: arial;
    	font-weight: bold;
		a{
		width:116px;
		height: 36px;
		overflow: hidden;
		}
	}
	}

}

#tabd2.Carouseltab2 .jg03,#tabd3.Carouseltab2 .jg03,#tabd4.Carouseltab2 .jg03,#tabd5.Carouseltab2 .jg03{
	position:absolute;
	top:40px;
	left:100px;
	border:0;
	li{
		width:116px;
		height: 35px;
		overflow: hidden;
		margin-bottom:52px;
	span{
		color: #f60;
   		font-family: arial;
    	font-weight: bold;
		a{
		width:116px;
		height: 36px;
		overflow: hidden;
		}
		}
	}

}

.tabtu1{
	margin-top:20px;
}

.under{
	clear:both;
	width:100%;
	height:185px;

	div{
		float:left;

	ul{
    	padding-top: 10px;
    li{
		padding-top: 5px;
    	}
    }
		
	}
}
.under{
	margin-top:50px;
}
 .under1{
	width:222px;
	height:185px;
	padding-right: 1%;
    margin-left: 1.5%;

}

.under2{
	width:222px;
	height:185px;
	padding-right: 1%;
    padding-left: 1.5%;
	border-left: 1px solid #ccc;
}
.under3{
	width:222px;
	height:185px;
	padding-right: 1%;
   padding-left: 1.5%;
	border-left: 1px solid #ccc;
}
.under4{
	width:222px;
	height:185px;
	padding-right: 1%;
    padding-left: 1.5%;
	border-left: 1px solid #ccc;
}
.under5{
	width:104px;
	height:185px;
	padding-right: 1%;
    padding-left: 1.5%;
	border-left: 1px solid #ccc;
}

.footer{
    margin-top: 55px;
    background: #FFF;
    border-top: 1px solid #FFF;
}
.footer-1{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    p{
    font-size: 12px;
    padding: 0 0 10px;
    a{
      margin-left: 5px;
    }
    }
}
// .Carouseltab .tb3{
// 	width: 950px;
// 	position:absolute;
// 	top:0;
// 	border:0;
// 	.tub2{
// 		width:52px;
// 		height: 52px;
// 		position:relative;
// 		left: 115px;
// 		padding-right:118px;
// 		float:left;
// 		img{
// 		width:52px;
// 		height: 52px;
// 		}
// 	}
// }

// .Carouseltab .tb4{
// 	width: 950px;
// 	position:absolute;
// 	top:0;
// 	border:0;
// 	.tub3{
// 		width:52px;
// 		height: 52px;
// 		position:relative;
// 		left: 115px;
// 		padding-right:118px;
// 		float:left;
// 		img{
// 		width:52px;
// 		height: 52px;
// 		}
// 	}
// }


	
	// a{
	// 	display: block;
	// 	color:#000;
	// 	width:180px;
	// 	height: 36px;
	// 	font-size: 12px;
 //    	line-height: 1.5;
 //    	overflow: hidden;
	// }
	// p{
	// 	padding: 5px 0;
	// }
	// .price1{
	// color: #f60;
 //    font-family: arial;
 //    font-weight: bold;
 //    font-size: 14px;
	// }
	// .mr10{
	// padding-right:15px;
	// }



// // 
// $dir:left;

// .box{
// 	// 块级变量
// 	$padding:10px;

// 	// 使用多值变量
// 	margin-#{$dir}:nth($pd,2);

// 	color:$mainColor;
// 	background-color:$color;font-size:20px;
// 	span{color:$color;}
// 	p{padding:$padding;line-height:2;}
// }


// //继承
// //@extend
// h1{font-size:24px;margin:10px 0;border-bottom:1px solid $color;}

// .title{@extend h1}


// // 占位符
// %ir{
//   color: transparent;
//   text-shadow: none;
//   background-color: transparent;
//   border: 0;
// }

// .mybox{@extend %ir;}


// // 函数的使用
// $mainColor:#f60;
// .box{margin:10px;float:left;width:100px;height:100px;background-color:$mainColor}


// // 循环&运算
// @for $i from 1 through 5{
// 	.box:nth-child(#{$i}){
// 		background-color:lighten($mainColor,percentage($i/10));
// 	}
// }


// .container{
// 	width:800px;margin:0 auto;border:1px solid #f00;overflow:hidden;
// 	>div{
// 		float:left;background-color:#efefef;width:percentage(1/3);height:300px;

// 		// 父级选择器
// 		&:nth-child(2){background-color:#f60;}
// 	}
// }

// .box{padding:10px;}
// h1{color:#999;}
