@charset "UTF-8";
@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot?t=1499503529449");
  /* IE9*/
  src: url("../font/iconfont.eot?t=1499503529449#iefix") format("embedded-opentype"), url("../font/iconfont.woff?t=1499503529449") format("woff"), url("../font/iconfont.ttf?t=1499503529449") format("truetype"), url("../font/iconfont.svg?t=1499503529449#iconfont") format("svg");
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e697";
}

.icon-cart:before {
  content: "\e698";
}

.icon-close:before {
  content: "\e69a";
}

.icon-comments:before {
  content: "\e69b";
}

.icon-delete:before {
  content: "\e69d";
}

.icon-edit:before {
  content: "\e69e";
}

.icon-email:before {
  content: "\e69f";
}

.icon-form:before {
  content: "\e6a2";
}

.icon-help:before {
  content: "\e6a3";
}

.icon-less:before {
  content: "\e6a5";
}

.icon-moreunfold:before {
  content: "\e6a6";
}

.icon-more:before {
  content: "\e6a7";
}

.icon-search:before {
  content: "\e6ac";
}

.icon-selected:before {
  content: "\e6ad";
}

.icon-success:before {
  content: "\e6b1";
}

.icon-account:before {
  content: "\e6b8";
}

.icon-add:before {
  content: "\e6b9";
}

.icon-atm:before {
  content: "\e6ba";
}

.icon-attachment:before {
  content: "\e6c0";
}

.icon-gifts:before {
  content: "\e6db";
}

.icon-lights:before {
  content: "\e6de";
}

.icon-map:before {
  content: "\e715";
}

.icon-phone:before {
  content: "\e725";
}

.icon-bussinessman:before {
  content: "\e726";
}

.icon-shoes:before {
  content: "\e728";
}

.icon-mobilephone:before {
  content: "\e72a";
}

.icon-favoritesfilling:before {
  content: "\e730";
}

.icon-accountfilling:before {
  content: "\e732";
}

.icon-creditlevel:before {
  content: "\e735";
}

.icon-creditlevelfilling:before {
  content: "\e736";
}

.icon-ship:before {
  content: "\e74f";
}

.icon-bussinesscard:before {
  content: "\e753";
}

.icon-favorites:before {
  content: "\e7ce";
}

.icon-originalimage:before {
  content: "\e806";
}

.icon-video:before {
  content: "\e820";
}

.icon-apparel:before {
  content: "\e839";
}

.icon-bags:before {
  content: "\e83a";
}

.icon-code:before {
  content: "\e842";
}

/*
	* 单行注释
	* 多行注释
	
	* sass的变量：
		* 一般使用在属性值中
		* 在属性名中使用变量：# {$borderDirection}
 */
* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0 5px;
}

a {
  text-decoration: none;
}

body {
  font-size: 12px;
}

.box0 {
  width: 100%;
}

.top0 {
  width: 100%;
  height: 25px;
  background-color: #f1f1f1;
  line-height: 25px;
}

.juzhong {
  margin: 0 auto;
  width: 980px;
  min-width: 980px;
}

.tl li {
  float: left;
  padding: 0 5px;
}

.topr {
  float: right;
}

.userpanel {
  position: relative;
  top: -8px;
  padding: 0 5px;
}

.tr {
  display: inline-block;
}

.tr li {
  float: left;
  padding: 0 5px;
}

.top1 {
  clear: both;
  width: 100%;
  height: 86px;
}

.top1-1 {
  position: relative;
  left: 0px;
  top: 0px;
  display: inline-block;
  float: left;
}

.hot a {
  line-height: 29px;
}

.head_title {
  border-left: 1px solid #D9D9D9;
  float: left;
  font: 24px/49px microsoft yahei;
  margin: 5px 0 0 25px;
  padding-left: 26px;
  text-align: left;
}

.top2 {
  width: 100%;
  height: 100%;
}

.main {
  border: 1px solid #ccc;
  width: 980px;
  height: 100%;
}
